html {
  background-color: whitesmoke;
}

body {
  display: block;
  box-sizing: border-box;
  width: 860px;
  margin: 20px auto;
  padding: 0 30px;

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

header {
  text-align: center;
  line-height: 0.8;
}

main {
  padding: 30px 30px;

  line-height: 1.5;
}

.personal-info-section {
  display: inline-block;
}

figure {
  float: right;
}
